@import "tailwindcss";

@layer components {
  .sidebar-container {
    h1 {
      font-size: 32px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      color: gray;
    }
    & .sidebar-content {
      & .sidebar-link {
        @apply flex flex-row space-x-[10px] text-black;

        a {
          color: black;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}
